*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-text{
    font-size: 1.1rem;
}
.sched-btn{
    background-color: goldenrod;
    width: 6rem;
    font-size: 0.5rem;
    font-weight: bolder;
}

.svc-sec{
    background-color: black;
}

.svc-hdr{
    padding-top: 3rem;

}

.my-svc{
    text-align: center;
    color:goldenrod;
    font-size: 4rem;
    font-family: 'Butcherman', cursive;
font-family: 'Courgette', cursive;
font-family: 'Monoton', cursive;
font-family: 'Permanent Marker', cursive;
  
}

.my-svc2{
    text-align: center;
    color:goldenrod;
    font-size: 5rem;
  
  
}

.my-icons{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.icons { 
    font-size: 2.5rem !important; 
    color:goldenrod
   
}

.svc-item{
    color: goldenrod;
    font-size: 1rem;
}
   
   

.card-title{
    font-size: 2.5rem;
    text-align: center;
}

.card-text{
    font-size: 1.3rem;
    text-align: center;
}

.svc-btn{
    background-color: goldenrod;
    font-size: 1.2rem;
    font-weight: bold;
 }
   
 .svc-link{
  display: flex;
    justify-content: center;
   }


   .card-img-top{
   border: solid goldenrod;
   }
   .card-body{
       border: solid goldenrod;
   }

.thumbnails{
    max-width: 100%;
}

.gallery{
    background-color: black;
    padding: 3rem;
}

.gallery img{
    background-color: white;
    padding: 15px;
    width: 100%;
}

.gall-hdr{
    text-align: center;
    color:goldenrod;
    font-size: 6rem;
    font-family: 'Butcherman', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Monoton', cursive;
    font-family: 'Permanent Marker', cursive;  
}


#reviews{
    background-color: black;
}
.rev-item{
    width: 10rem;
    padding-top:2rem;
}

.rev-text{
    font-size:1rem;
}
   
.testimonial-inner .rev-desc{
border-radius: 5px;
padding: 1.3rem;
}
    
        
 .link-name{
    font-family: "Montserrat", Sans-serif;
    font-size: 0.6rem;
}       

.link-position{
    font-size:0.5rem;
}

.testimonial-inner img.tm-people{
    height: 5rem;
  border-radius: 50%;;
   }  



#offer{
    background-color: black;
    display: flex;
    justify-content: center;
    Padding-top: 6rem;
}

.offer-text{
    color: goldenrod;
    font-size: 1.5rem;
}

.offer-label{
    color: white;
}

.my-form{
    border: goldenrod solid 1rem;
    padding: 1rem;
}

.form-btn{
    display: flex;
 justify-content: center;


}

.form-email{
    font-size:1.4rem;
}

.my-form-btn{
    background-color: red;
    font-size: 1rem;
    padding: 0.2rem;
    font-weight: bolder;
    color: white;
    border: solid 0.1rem white;
}

#contact{
    background-color: black;
    padding-top: 5rem;
}

.contact-hdr{
    color: goldenrod;
    text-align: center;
}

footer {
    background-color: #343A40;
    color: #FFFFFF80
}

footer a{
    color: #FFFFFF80;
    font-size: 1.5 rem;
}


.mdl-btn{
    background-color: goldenrod;
}

.sched-btn, .svc-btn{
cursor: pointer;    
}

@media (max-width: 800px){
    .gall-hdr{
        font-size: 3rem;
    }
    .my-svc{
        font-size: 3rem;
    }
}
